.vscode
foundation_of_physical_chemistry.aux
foundation_of_physical_chemistry.bbl
foundation_of_physical_chemistry.blg
foundation_of_physical_chemistry.bcf
foundation_of_physical_chemistry.ind
foundation_of_physical_chemistry.idx
foundation_of_physical_chemistry.log
foundation_of_physical_chemistry.ilg
foundation_of_physical_chemistry.out
foundation_of_physical_chemistry.thm
foundation_of_physical_chemistry.toc
foundation_of_physical_chemistry.pdf
foundation_of_physical_chemistry.run.xml
foundation_of_physical_chemistry.synctex.gz

000_custom_settings.aux
001_cover.jpg
002_copyright_page.aux
101_overview_of_classical_physics.aux
102_overview_of_quantum_physics.aux
